html {
  font-size: 62.5%;
}

body {
  // background: $body-bg;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  padding: 0;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.is-active {
  font-weight: bold;
}

.warning-banner {
  background: red;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.2rem;
}
